@import "tailwindcss";

@import "tw-animate-css";

@theme inline {
  --color-surface-dark: #363738;

  --color-text-muted: #7d8184;

  --color-surface-alt: #f5f5f5;
  --color-surface-warm: #fefaf1;

  --color-accent-success: #00ff66;
  --color-accent-danger: #db4444;
  --color-accent-danger-hover: #e07575;
  --color-accent-info-hover: #a0bce0;

  --font-family-inter: "Inter", sans-serif;
}


/* 
   Ant Design Components
------------------------ */

.ant-btn-lg {
  padding: 1.5rem 3rem !important;
  font-size: 1rem !important;
  line-height: 1.25rem !important;
  border-radius: 0.25rem !important;
  font-family: var(--font-family-inter) !important;
}

.ant-btn:hover{
  scale: 0.95;
}


.ant-btn-primary {
  background-color: var(--color-accent-danger) !important;
  border-color: var(--color-accent-danger) !important;
  color: white !important;
}

.ant-btn-primary:hover {
  background-color: var(--color-accent-danger-hover) !important;
  border-color: var(--color-accent-danger-hover) !important;
  color: white !important;
}  

.ant-btn-default {
  background-color: var(--color-surface-alt) !important;
  border-color: var(--color-surface-alt) !important;
  color: var(--color-text-muted) !important;
}

.ant-btn-default:hover {
  background-color: var(--color-surface-alt) !important;
  border-color: var(--color-surface-alt) !important;
  color: var(--color-text-muted) !important;
  scale: 0.95;
}


/* Search Input */

.ant-input[type="search"] {
  background-color: var(--color-surface-alt);
  border-color: var(--color-surface-alt);
  color: var(--color-text-muted);
}

.ant-input-group-addon{
  .ant-btn-icon{
    font-size: 1.2em;
    font-weight: bold;
  }
}
