@import "tailwindcss";

@import "tw-animate-css";

@theme inline {
  --color-surface-dark: #363738;

  --color-text-muted: #7d8184;

  --color-surface-alt: #f5f5f5;
  --color-surface-warm: #fefaf1;

  --color-accent-success: #00ff66;
  --color-accent-danger: #db4444;
  --color-accent-danger-hover: #e07575;
  --color-accent-info-hover: #a0bce0;

  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/*
    Global CSS 
------------------------ */

body {
  min-height: 100vh;
  margin: 0;
}

footer {
  min-height: 50px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.section-container {
  @apply relative container mx-auto flex flex-col gap-[60px] py-20;
}

/* 
   Ant Design Components
------------------------ */

.ant-btn-lg {
  padding: 1.5rem 3rem !important;
  font-size: 1rem !important;
  line-height: 1.25rem !important;
  border-radius: 0.375rem !important;
  font-family: var(--font-poppins) !important;
}

.ant-btn:hover {
  scale: 0.95;
}

.ant-btn-primary {
  background-color: var(--color-accent-danger) !important;
  border-color: var(--color-accent-danger) !important;
  color: white !important;
}

.ant-btn-primary:hover {
  background-color: var(--color-accent-danger-hover) !important;
  border-color: var(--color-accent-danger-hover) !important;
  color: white !important;
}

.ant-btn-default {
  background-color: var(--color-surface-alt) !important;
  border-color: var(--color-surface-alt) !important;
  color: var(--color-text-muted) !important;
}

.ant-btn-default:hover {
  background-color: var(--color-surface-alt) !important;
  border-color: var(--color-surface-alt) !important;
  color: var(--color-text-muted) !important;
  scale: 0.95;
}

.ant-input-affix-wrapper {
  background-color: var(--color-surface-alt) !important;
  border-color: var(--color-surface-alt) !important;
  color: var(--color-text-muted) !important;
}

.ant-input-affix-wrapper-focused {
  box-shadow: none !important;
}

input,
textarea {
  &.ant-input {
    background-color: var(--color-surface-alt) !important;
    border-color: var(--color-surface-alt) !important;
    color: var(--color-text-muted) !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}

.ant-input-group-addon {
  .ant-btn-icon {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.ant-menu-item.ant-menu-item-selected {
  background-color: var(--color-surface-alt) !important;
  color: var(--color-text-muted) !important;
}

.ant-checkbox {
  .ant-checkbox-inner {
    border-color: var(--color-surface-alt) !important;
  }

  &.ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--color-accent-danger) !important;
    border-color: var(--color-accent-danger) !important;
  }
  .ant-checkbox-label {
    font-family: "Poppins", sans-serif !important;
  }
}
